<div id="mainContent" class="container-fluid"> 
  <p style="color: green"><%= notice %></p>

  <h1>Edición de genero</h1>

  <%= render "form", genre: @genre %>

  <div>
    <br>
    <%= link_to "Ver género", @genre %> |
    <%= link_to "Regresar a géneros", genres_path %>
  </div>
</div>